.container { width: 240px }
body {
width:1899px;
background: #f3e3ff;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;
}
#wrapper {
      background: #000000;
      margin: 60px auto;
      width: 1600px;
      height: 900px;
      }
#header {

      }
      image {
      position	: relative;
      width		: 100%;
      }
      h1 {
      position	: absolute;
      top		: 200px;
      left		: 10%;
      width		: 100%;
      }
#navigation {
  background: #f3e3ff;
  width: 389px;
  height: 40px;
  background-image: url(img/ooo.gif);
  background-size: 1000px 19px;
      }
#menu {

      }
#content {
  background: #f3e3ff;
  color: #000000;
  font-family: Trebuchet MS, Arial, Times New Roman;
  font-size: 20px;
      }
      h3 { text-align: center }
      h4 { text-align: center }
.image-center {
  display:block;
  margin: auto;
}
#footer {

      }
